<%= form_with(model: [comment.tweet, comment], 
              data: { controller: "reset", action: "turbo:submit-end->reset#reset" }) do |form| %>
  <% if comment.parent_id.present? %>
    <%= form.hidden_field :parent_id %>
  <% end %>
  
  <div class="mb-3">
    <%= form.text_area :content, class: "form-control", placeholder: "Votre commentaire...", rows: 2 %>
  </div>
  <%= form.submit comment.parent_id? ? "Répondre" : "Commenter", class: "btn btn-primary btn-sm" %>
<% end %>