<h1>Devenir Vérifié ✅</h1>

<p>Pour obtenir le badge vérifié, vous devez :</p>
<ul>
  <li>Avoir une bio, un avatar, et un site personnel</li>
  <li>Un compte créé depuis plus de 7 jours</li>
  <li>Ne pas usurper l’identité de quelqu’un</li>
</ul>

<%= button_to "Continuer (Paiement requis)", verifications_path, method: :post %>
