<%= form_with(model: tweet, local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, class: 'form-control', placeholder: "What's happening?" %>
  </div>
  <%= form.submit 'Tweet', class: 'btn btn-primary' %>
<% end %>