<!-- app/views/tweets/show.html.erb -->
<div class="container mt-4">
  <% if @tweet %>
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="card-title"><%= @tweet.content %></h1>



        <!-- Formulaire pour ajouter un commentaire -->
       <h3>Commentaires</h3>


<% @tweet.comments.where(parent_id: nil).each do |comment| %>
  <%= render 'comments/comment', comment: comment %> <!-- Supprimez 'locals:' -->
<% end %>

<!-- Formulaire pour ajouter un commentaire principal -->
<%= render 'comments/comment', comment: Comment.new(tweet: @tweet) %> <!-- Supprimez 'locals:' -->



        <div class="mt-3">
          <%= link_to 'Voir tous les commentaires', tweet_comments_path(@tweet), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% else %>
    <p class="alert alert-danger">Le tweet n'a pas été trouvé.</p>
  <% end %>
</div>
