/* Ajoutez ce CSS dans votre fichier application.css ou un fichier CSS spécifique */
.like-buttons .btn {
  padding: 0 !important;
  margin: 0 !important;
}

.like-buttons .fa-heart {
  padding: 0 !important;
  margin: 0 !important;
  width: 5px;
}

.like-buttons .likes-count {
  padding: 0 !important;
  margin: 0 !important;
}