@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";


.d-none {
  display: none !important;
  border: 2px solid red;
}



//  dark mode 
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}
.btn-outline-light:hover {
  background-color: #ffffff;
  color: #121212;
}
.dark-mode .content, .dark-mode .card {
  background-color: #121212;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-color: #ffffff;
  color: #ffffff;
}

// transition entre les modes clair et sombre
body {
  transition: background - color 0.3s ease, color 0.3s ease;
}

